<% content_for :title, "Editing users room" %>

<h1>Editing users room</h1>

<%= render "form", users_room: @users_room %>

<br>

<div>
  <%= link_to "Show this users room", @users_room %> |
  <%= link_to "Back to users rooms", users_rooms_path %>
</div>
