<p style="color: green"><%= notice %></p>

<% content_for :title, "Users rooms" %>

<h1>Users rooms</h1>

<div id="users_rooms">
  <% @users_rooms.each do |users_room| %>
    <%= render users_room %>
    <p>
      <%= link_to "Show this users room", users_room %>
    </p>
  <% end %>
</div>

<%= link_to "New users room", new_users_room_path %>
