<p style="color: green"><%= notice %></p>

<% content_for :title, "Shoppings" %>

<h1>Shoppings</h1>

<div id="shoppings">
  <% @shoppings.each do |shopping| %>
    <%= render shopping %>
    <p>
      <%= link_to "Voir la commande", shopping, class: "btn btn-success" %>
    </p>
  <% end %>
</div>


<div class="d-flex justify-content-center align-items-center gap-2 m-4">
    <%= link_to "Voir les produits", products_path, class: "btn btn-success" %>
  
</div>