<p style="color: green"><%= notice %></p>

<div class="container">
<div class="text-center m-4">


<%= render @shopping %>

<div>

    <div class="text-center m-4">
  <%= link_to "Voir les commandes", shoppings_path, class: "btn btn-warning" %>
  </div>

  <div class="text-center m-4">
  <%= link_to "Revenir au distributeur", products_path, class: "btn btn-warning" %>
  </div>

  </div>
</div>